# https://dart.dev/guides/libraries/private-files
# https://flutter.dev/docs/development/tools/vs-code#settings-and-projects
# https://flutter.dev/docs/development/tools/android-studio#settings-and-projects

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
out/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
pubspec_overrides.yaml

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Signing
*.keystore
*.jks
*.p12
*.pfx
*.pem

# Generated code
*.freezed.dart
*.g.dart

# Database files
*.db
*.db-journal

# Windows
Thumbs.db
desktop.ini
